.root {
    -fx-background-color: white;
}

.label {
    -fx-font-size: 12;
}

.scroll-pane {
    -fx-background: #666;
    -fx-background-color: #666;
}

.scroll-pane-image:hover {
    -fx-background-color: #ccc;
}
